body {
  font-family: sans-serif;
  display: flex;
  margin: 0;
  height: 100vh;
}

#gameCanvas {
  border: 1px solid black;
  background-color: #f0f0f0;
}

#chat {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

#messages {
  border: 1px solid #ccc;
  height: 400px;
  width: 200px;
  overflow-y: auto;
  padding: 5px;
  margin-bottom: 5px;
}

#chatInput {
  width: 140px;
}

#sendBtn {
  width: 50px;
}
